audio {
	width: 600px;
	height: 40px;
	vertical-align: middle;
}

.btn {
	margin-right: 15px;
}

#textarea1 {
	ime-mode: inactive;
}

img.audioControl {
	width: 40px;
	height: 40px;
	vertical-align: middle;
}