<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="_head::head('dictation')"></head>
<body>
	<nav th:replace="_navbar::navbar"></nav>
	<div class="container-fluid">
		<h3 th:text="${'Dictation (' + question.name + ')'}"></h3>
		
		<div class="container-fluid">
			<img class="audioControl" id="buttonRewind" src="/image/player_button_blue03_hayamodoshi.png"/>
			<img class="audioControl" id="buttonRewind3sec" src="/image/player_button_blue14_repeat.png"/>
			<img class="audioControl" id="buttonPause" src="/image/player_button_blue05_ichijiteishi.png"/>
			<img class="audioControl" id="buttonPlay" src="/image/player_button_blue01_saisei.png"/>
			<audio id="audio1" th:attr="src=${question.audioPath}" autoplay="autoplay" controls="controls"></audio>
		</div>
		
		<div class="container-fluid">
			<h4>Please enter the sentences you heard.(Focus with Alt + F8.)</h4>
			<textarea class="form-control input-lg" id="textarea1" rows="5"></textarea>
		</div>
		
		<div class="container-fluid" style="margin-top:10px">
			<button class="btn btn-primary" id="buttonAnswer" name="answer">Answer(Alt+F9)</button>
			<button class="btn btn-light" id="buttonNext" name="clear">Next(Alt+F10)</button>
		</div>
		
		<div id="compareResult" class="container-fluid">
			<h3>Compare Result</h3>
			<div id="compare"></div>
		</div>
	</div>
	<form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
		<input type="submit" value="Sign Out" />
	</form>
	<script type="text/javascript" th:inline="javascript">
	    var username = /*[[ ${principal.name} ]]*/;
	    var questionId = /*[[ ${question.id} ]]*/;
	    var answerText = /*[[ ${question.answerText} ]]*/;
	    var csrfToken = /*[[ ${_csrf.token} ]]*/;
	</script>
</body>
</html>