<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dictation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

	<!-- jquery -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	
	<!-- bootstrap -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
	
	<!-- mergely -->
	<script type="text/javascript" src="/lib/codemirror.min.js"></script>
	<link type="text/css" rel="stylesheet" href="/lib/codemirror.css" />
	<script type="text/javascript" src="/lib/mergely.js"></script>
	<link type="text/css" rel="stylesheet" href="/lib/mergely.css" />

	<!-- shortcut -->
	<script type="text/javascript" src="/lib/shortcut.js"></script>

	<script type="text/javascript" th:inline="javascript">
	function rewindAudio(sec) {
		$('#audio1').get(0).currentTime -= sec;
	}
	function pauseAudio() {
		$('#audio1').get(0).pause();
	}
	function playAudio() {
		$('#audio1').get(0).play();
	}

	$(document).ready(function () {
		$('#compareResult').hide();
	
		$('#buttonRewind5sec').click(function() {
			rewindAudio(5);
		});

		$('#buttonPause').click(function() {
			pauseAudio();
		});

		$('#buttonPlay').click(function() {
			playAudio();
		});

		$('#buttonAnswer').click(function() {
			$('#buttonAnswer').prop('disabled', true);
			$('#compare').mergely({
				cmsettings: { readOnly: true, lineNumbers: true, editor_height: '100px' },
				lhs: function(setValue) {
					setValue($('#textarea1').val());
				},
				rhs: function(setValue) {
					setValue(/*[[ ${question.answerText} ]]*/);
				}
			});
			$('#compareResult').show();
		});
	
		$('#buttonNext').click(function() {
			location.reload();
		});

		// Setup shortcuts.
		shortcut.add("Alt+Z",function() {
			rewindAudio(5);
		});
		shortcut.add("Alt+X",function() {
			pauseAudio();
		});
		shortcut.add("Alt+C",function() {
			playAudio();
		});

	});
	</script>

	<style type="text/css">
	  audio {width: 600px;}
	  .btn {margin-right: 15px;}
	</style>
</head>
<body>
	<div class="container-fluid">
		<h2>Dictation</h2>
		
		<div class="container-fluid">
			<audio id="audio1" th:attr="src=${question.audioPath}" autoplay="autoplay" controls="controls"></audio>
		</div>
		
		<div class="container-fluid">
		<textarea class="form-control input-lg" id="textarea1" rows="5"></textarea>
		</div>
		
		<div class="container-fluid" style="margin-top:10px">
			<button class="btn btn-danger" id="buttonRewind5sec" name="rewind5sec">Rewind5sec(Alt+Z)</button>
			<button class="btn btn-danger" id="buttonPause" name="pause">Pause(Alt+X)</button>
			<button class="btn btn-success" id="buttonPlay" name="play">Play(Alt+C)</button>
			<button class="btn btn-primary" id="buttonAnswer" name="answer">Answer</button>
			<button class="btn btn-light" id="buttonNext" name="clear">Next</button>
		</div>
		
		<div id="compareResult" class="container-fluid">
			<h3>比較結果</h3>
			<div id="compare"></div>
		</div>
	</div>
</body>
</html>